@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

body {
    background-color: black;
}

.update {
    color: #ffffff;
    display: flex;
    width: 100%;
    padding: 6px 504px 7px 505px;
    justify-content: center;
    align-items: center;
}

.text-new {
    color: #E9556C;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.54px;
    margin-right: 5px;
}

.update-text {
    color: #ffffff;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.54px;
}

.college-logo {
    height: 148px;
    width: 100%;
    background-color: #a81445;
    display: flex;
    justify-content: center;
}

.college-name {
    display: flex;
    flex-direction: column;
    margin-top: 21px;
}

.npgc-logo {
    width: 163px;
    height: 135px;
}

.Department-Logo {
    width: 133px;
    height: 102px;
    margin-top: 19px;
}

.c-text-1 {
    color: #FDDCDB;
    font-size: 25px;
    font-weight: 500;
    letter-spacing: 2.5px;
}

.c-text-2, .c-text-3 {
    color: #FDDCDB;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 2.24px;
    text-align: center;
}

.nav-menu span {
    font-weight: 300;
    color: #ffffff;
}

.navdiv {
    display: flex;
    width: 100%;
}


li {
    list-style: none;
    margin: 8px;
    display: inline-block;
}

li a {
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    margin-right: 25px;
    text-decoration: none;
}

ul {
    margin: 0 20px;
    padding: 0; 
}

li {
    list-style: none;
    margin: 8px;
    display: inline-block;
}

li a {
    color: #1d2323;
    font-size: 18px;
    font-weight: bold;
    margin-right: 25px;
}

i {
    position: relative;
    right: 25px;
}

.nav-menu li:hover .home-arrow, 
.nav-menu li:hover .syllabus-arrow, 
.nav-menu li:hover .study-material-arrow, 
.nav-menu li:hover .youtube-lib-arrow,
.nav-menu li:hover .handwritten-notes-arrow {
    transform: rotate(180deg);
    transition: transform 0.3s ease, color 0.3s ease;
    color: #2F8481;
}

a > span:hover {
    color: #4d859c;
}

.nav-menu .home-arrow, 
.nav-menu .syllabus-arrow, 
.nav-menu .study-material-arrow, 
.nav-menu .youtube-lib-arrow,
.nav-menu .handwritten-notes-arrow {
    color: #ffffff;
}

.navdiv {
    width: 100%;
    height: 64px;
    background: #8A2A2C;
    align-items: center;
}


.home-page {
   width: 1066px;
   height: 2411px;
   border-radius: 23px;
   background: rgba(255, 255, 255, 0.31);
   margin-left: 12rem;
   margin-top: 10rem;
}

.book-one-name {
    color: #1E2423;
    font-size: 27px;
    font-weight: 400;
}