@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --background-color: #001233;
    --text-color: #F2F2F2;
    --highlight-color: #2F8481;
    --transparent-block-bg: rgba(255, 255, 255, 0.31);
    --nav-bg-color: #001233;
    --link-color: #F2F2F2;
    --shopping-link-1-bg: #023E7D;
    --header-color: #152C5B;
}

/* Base styles */
.sem-text {
    font-size: 14.8px;
    text-align: left;
}

.share-note-text {
    white-space: nowrap;
    font-size: 2.15rem;
}

.img-share-notes {
    width: 567px;
    height: 551px;
    position: relative;
    top: 2.5rem;
    left: 7rem;
}

.small-icon {
    position: absolute;
    left: 93%;
    top: 6%;
}

.small-icon-2 {
    left: 70%;
    top: 16%;
}

.small-icon-3 {
    left: 90%;
    top: 15%;
}

.small-icon-4 {
    left: 69%;
    top: 8%;
}

i {
    font-size: 26px;
}

footer {
    background: var(--background-color);
}

.list-unstyled-footer {
    display: flex;
    list-style-type: none;
}

.li-list {
    color: var(--text-color);
    font-size: 23px;
    font-weight: 200;
    line-height: 48px;
    padding: 6px;
    text-decoration: none;
    white-space: nowrap;
}

.main-header {
    position: absolute;
}

a.nav-link.dropdown-toggle,
.nav-link {
    color: var(--link-color);
}

i, .navbar-toggler {
    color: var(--link-color);
}

.navbar,
.offcanvas-body {
    background-color: var(--nav-bg-color);
}

.navLink {
    color: var(--link-color);
}

.nav-link:hover {
    color: var(--link-color);
    background-color: transparent;
    text-decoration: none;
    box-shadow: none;
    outline: none;
}

/* card */

.book-name-2 {
    font-size: 0.8vw;
    font-weight: 600;
}

.author-name {
    font-size: 0.8vw;
    font-weight: 500;
}

.shopping-links-1 {
    width: 151px;
    height: 27px;
    border-radius: 6px;
    background: var(--shopping-link-1-bg);
}

.shopping-links-1, 
.shopping-links-2,
.shopping-links-3 {
    width: 151px;
    height: 27px;
    border-radius: 6px;
    background: var(--highlight-color);
    display: flex;
}

.position-icon {
    position: relative;
    left: 10px;
    bottom: 5px;
}

.link-name {
    color: var(--text-color);
    font-size: 9px;
    font-weight: 300;
    position: relative;
}

.link-name-amazon {
    left: 32px;
    top: 3px;
}

.link-name-flipkart {
    left: 36px;
    top: 3px;
}

.link-name-snapdeal {
    left: 31px;
    top: 3px;
}

.arrow-icon {
    position: relative;
}

.arrow-icon-1 {
    top: 8px;
    left: 60px;
}

.arrow-icon-2 {
    left: 68px;
    top: 9px;
}

.arrow-icon-3 {
    left: 54px;
    top: 9px;
}

.transparent-block {
    width: 55.5rem;
    border-radius: 23px;
    background: var(--transparent-block-bg);
}

h3 {
    color: var(--header-color);
    font-size: 1.13rem;
    font-weight: 400;
}

.lower-navigation {
    display: flex;
    align-items: center;
    gap: 35px;
    justify-content: center;
}

.lower-nav-buttons {
    width: 165px;
    height: 3rem;
    flex-shrink: 0;
    border-radius: 0.5625rem;
    border: 0.125rem solid #023E7D;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lower-nav-text {
    color: #023E7D;
    font-size: 0.8rem;
    font-weight: 400;
}

.lower-nav-bg {
    background: #023E7D;
}

.yt-playlist {
    width: 888px;
    height: 112px;
}

.svg-yt {
    width: 99px;
    height: 78.627px;
}

.playlist-sp-text-1 {
    color: var(--text_heading, #152C5B);
    font-size: 19px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 22.86vw;
    white-space: nowrap;
}

.playlist-sp-text-2 {
    color: var(--text_heading, #152C5B);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    white-space: nowrap;
}

.count-text-1 {
    color: var(--text_heading, #152C5B);
    text-align: center;
    font-size: 1.0rem;
    font-style: normal;
    font-weight: 600;
    line-height: 120.5%; 
}

.count-text-2 {
    color: var(--text_heading, #152C5B);
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 120.5%;
}

.yt-playlist {
    width: 100%;
    justify-content: space-between;
}

.svg-yt {
    max-width: 20%; /* Adjust as needed */
}

.playlist-text {
    flex: 1;
    min-width: 0;
}

.count-video-yt {
    flex-shrink: 0;
    min-width: 50px; /* Adjust as needed */
}

/* Media Queries */

/* Extra small devices (phones, 290px and down) */
@media (max-width: 290px) {
    .list-unstyled-footer {
        display: flex;
        flex-direction: column;
        list-style-type: none;
    }

    .book-image {
        position: relative;
        top: 2px;
        bottom: 29px;
    }
}

/* Small devices (portrait tablets and large phones, 481px and down) */
@media (max-width: 480px) {
    .btn_share_notes {
        position: relative;
        left: 33%;
    }

    .container {
        padding: 0 15px;
    }

    .img-w-lg-120,
    .img-share-notes,
    .small-icon {
        display: none;
    }

    .share-note-text {
        white-space: nowrap;
        font-size: 1.02rem !important;
    }

    .list-unstyled-footer {
        display: flex;
        flex-direction: column;
        list-style-type: none;
    }

    .book-image {
        position: relative;
        top: 2px;
        bottom: 29px;
        height: 27vh;
        width: 35vw;
    }

    .shopping-links-1, 
    .shopping-links-2,
    .shopping-links-3 {
        width: 37.5vw;
        height: 27px;
        border-radius: 6px;
        background: var(--highlight-color);
        position: relative;
        top: 0px !important;
        display: flex;
    }

    .transparent-block {
        width: 16.753rem !important;
        border-radius: 23px;
        background: var(--transparent-block-bg);
    }

    .lower-navigation {
        display: flex;
        align-items: center;
        gap: 13px !important;
        justify-content: center;
    }

    .col-lg-3 {
        width: 424px !important;
    }

    .yt-playlist {
        display: flex;
        flex-direction: row;
        align-items: center; 
        position: relative;
        bottom: 7px;
        height: 64px;
    }

    .svg-yt, .playlist-text, .count-video-yt {
        width: auto; 
        text-align: center;
    }

    .svg-yt {
        margin-left: 0.5rem !important;
    }

    .playlist-text, .count-video-yt {
        margin-top: 10px; 
    }

    .playlist-sp-text-2,
    .playlist-sp-text-1 {
        white-space: nowrap;
    }

    .playlist-sp-text-1 {
        font-size: 0.8256vw;
        width: 0;
        margin-left: 13px !important;
    }

    .playlist-sp-text-2 {
        font-size: 0.8265vw;
        margin-left: 13px !important;
        position: relative;;
        margin-top: 4px;
    }

    .mt-4 {
        margin-top: 1.05rem !important;
    }

    .count-text-2 {
        font-size: 14.5px;
    }

    .count-text-1 {
        font-size: 19px;
    }

    .lower-nav-buttons {
        width: 39vw;
        height: 3rem;
        flex-shrink: 0;
        border-radius: 0.5625rem;
        border: 0.125rem solid #023E7D;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .dropdown-menu {
        background-color: #001233;
    }

    .dropdown-item {
        color: #fff;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media (min-width: 481px) and (max-width: 768px) {
    .container {
        padding: 0 20px;
    }

    .img-w-lg-120,
    .img-share-notes,
    .small-icon {
        display: none;
    }

    .share-note-text {
        font-size: 2.15rem !important;
    }

    .list-unstyled-footer {
        display: flex;
        flex-direction: column;
        list-style-type: none;
    }

    .btn_share_notes {
        position: relative;
        left: 33%;
    }

    .container {
        padding: 0 15px;
    }

    .img-w-lg-120,
    .img-share-notes,
    .small-icon {
        display: none;
    }

    .share-note-text {
        white-space: nowrap;
        font-size: 1.02rem !important;
    }

    .list-unstyled-footer {
        display: flex;
        flex-direction: column;
        list-style-type: none;
    }

    .book-image {
        position: relative;
        top: 2px;
        bottom: 29px;
        height: 27vh;
        width: 35vw;
    }

    .shopping-links-1, 
    .shopping-links-2,
    .shopping-links-3 {
        width: 37.5vw;
        height: 27px;
        border-radius: 6px;
        background: var(--highlight-color);
        position: relative;
        top: 0px !important;
        display: flex;
    }

    .transparent-block {
        width: 28.753rem !important;
        border-radius: 23px;
        background: var(--transparent-block-bg);
        position: relative;
        left: 7% !important;
    }

    .lower-navigation {
        display: flex;
        align-items: center;
        gap: 13px !important;
        justify-content: center;
    }

    .yt-playlist {
        display: flex;
        flex-direction: row;
        align-items: center; 
    }

    .svg-yt, .playlist-text, .count-video-yt {
        width: auto; 
        text-align: center;
    }

    .svg-yt {
        margin-left: 0.5rem !important;
    }

    .playlist-text, .count-video-yt {
        margin-top: 10px; 
    }

    .playlist-sp-text-2,
    .playlist-sp-text-1 {
        white-space: nowrap;
    }

    .playlist-sp-text-1 {
        font-size: 1.85vw;
        margin-left: 13px !important;
    }

    .playlist-sp-text-2 {
        font-size: 2.265vw;
        margin-left: 13px !important;
        position: relative;
        margin-top: 4px;
    }

    .mt-4 {
        margin-top: 1.05rem !important;
    }

    .count-text-2 {
        font-size: 14.5px;
    }

    .count-text-1 {
        font-size: 19px;
    }

    .transparent-block {position: relative !important; left: 6% !important;}
}

/* Galaxy Z Fold 2 - Folded (Cover Display) */
@media (max-width: 816px) {
    .container {
        padding: 10px;
    }

    .share-note-text {
        font-size: 1.5rem;
    }

    .img-share-notes {
        display: none;
    }

    .list-unstyled-footer {
        flex-direction: column;
        align-items: flex-start;
    }

    .lower-navigation {
        display: flex;
        align-items: center;
        gap: 16px;
        justify-content: center;
    }
}

/* Galaxy Z Fold 2 - Unfolded (Main Display) */
@media (min-width: 817px) and (max-width: 1768px) {
    .container {
        padding: 20px;
    }

    .share-note-text {
        font-size: 2rem;
    }

    .img-share-notes {
        width: 567px;
        height: 551px;
        display: block;
    }

    .list-unstyled-footer {
        flex-direction: row;
        justify-content: space-between;
    }

    .lower-navigation {
        display: flex;
        align-items: center;
        gap: 16px;
        justify-content: center;
    }
}



/* Large devices (desktops, 1024px and up) */
@media (min-width: 1025px) and (max-width: 1200px) {
    .container {
        padding: 0 25px;
    }
}
